# Environnement virtuel
venv/
__pycache__/

# Fichiers de données (Gérés par DVC, pas par Git !)
data/*.csv
data/*.json

# Fichiers systèmes
.DS_Store

# Modèles IA (souvent trop gros pour Git)
models/*.pkl

key.json
# MLflow : On ne veut pas pousser la base de données locale et les 1000 fichiers de tests
mlruns/
.trash/

# Logs : On ne veut pas pousser l'historique de tes terminaux
logs/
*.log
*.db
models/