# Environnement virtuel
venv/
__pycache__/

# Fichiers de données (Gérés par DVC, pas par Git !)
data/*.csv
data/*.json

# Fichiers systèmes
.DS_Store

# Modèles IA (souvent trop gros pour Git)
models/*.pkl

key.json